     
@charset "utf-8";

body {  
  background-color: #D9EAF8;
}
.wrapper {
     display: flex;
}

/*------------------------------------------------------------------------------*/
#nav {
  list-style: none;
  display: inline-block;
  padding: 0, 15, 0, 0; 
}
