     
@charset "utf-8";

body {  
  background-color: #D9EAF8;
}

/*------------------------------------------------------------------------------*/
#nav {
  list-style: none;
  display: block-inline;
}
